@import 'tailwindcss/theme.css';
@import 'tailwindcss/preflight.css';
@import 'tailwindcss/utilities.css';
@import 'mapbox-gl/dist/mapbox-gl.css';

body {
  font-feature-settings: "rlig" 1, "calt" 1;
}
